.bg-body-tertiary{
    background-color: #ebeef1 !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: black;
    transform: scale(1.05) translateY(-2px);
    text-decoration: underline;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .container-fluid{
    gap: 20px;
}
.navbar-collapse{
    gap: 50px;
}
.navbar-nav{
    gap: 30px;
    font-size: 1.2rem;
    margin-left: 40px !important;
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
form.d-flex{
    margin-right: 30px;
    align-items: center;
}
.form-control{
    width: 450px;
    border-radius: 10px 0 0 10px;
}
.form-control:focus{
    box-shadow: 0 0 5px rgba(79,195,209,0.4);
}
.btn-outline-dark{
    border-radius: 0 10px 10px 0;
}
.usuario{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-right: 30px;

}
