.modal form {
    margin-top: 20px;
}
.modal input,
textarea,
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 11;
    pointer-events: none;
}
.modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-content {
    background: #111;
    padding: 50px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    transform: scale(0.7);
    transition: 0.3s;
}
.modal.active .modal-content {
    transform: scale(1);
}
.modal-content input{
    margin-top: 10px;
}
.fechar{
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.fechar:hover {
    color: #ff5c00;
}
.inputSenha {
    margin-bottom: 20px;
}
.btnSubmit {
    background: #ff5c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.btnSubmit:hover{
    transform: scale(1.2);
    background-color: #cf540d;
}
#abrirCadastro{
    text-decoration: none;
    color: #ff5c00;
    margin-bottom: -10px;
}
#abrirCadastro:hover {
    text-decoration: underline;
}
.inputEmail{
    margin-bottom: 10px;
}